@font-face {
  font-family: 'fengardo_neueregular';
  src: url('./Fonts/Neue/fengardoneue_regular-webfont.woff2') format('woff2'),
       url('./Fonts/Neue/fengardoneue_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'fengardo_neueblack';
  src: url('./Fonts/Neue/fengardoneue_black-webfont.woff2') format('woff2'),
       url('./Fonts/Neue/fengardoneue_black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


*{
  color: rgb(255, 250, 248);
  font-family: fengardo_neueregular;
}

.title{
  font-weight: 680;
}

/* Main container*/
.weather_info{
}
  .search_bar{

  }

  .main_info_container{

  }

    .location.title{
      text-align: center;
    }

    .date{
      font-size: 14px;
    }

  .extra_info{
  }

    .weather_details > div{
      font-size: 14px;
    }


/* Extra Button */
.extra_info_button{
  
}

/* Full forecast*/
.weather_forecast{
}
  .forecast_options{

  }

  .forecast_Header{

  }

  .forecast_info_container{
    
  }