*{
   color: rgb(255, 255, 255);
}

// body{
//     background: rgb(32,158,255);
//     background: linear-gradient(0deg, rgba(32,158,255,1) 10%, rgba(48,217,246,1) 100%);
// }

svg{
    fill: aliceblue;
}

.weather_info,
.weather_forecast {
    background-color: #13293d25;
    box-shadow: 0px 5px 8px 0px rgba(19,41,61,0.25);
}

.extra_info {
//  border-left: #13293d35 solid 2px;
 justify-content: space-evenly;

    img{
        height: 40px;
        width: auto;
        filter: invert(100%) sepia(25%) saturate(4439%) hue-rotate(178deg) brightness(103%) contrast(107%);
    }
}

.search_form > button,
.extra_info_button,
.forecast_option{
    cursor: pointer;
}

.forecast_info_container{
    svg{
        height: 40px;
        width: auto;
    }
}

.basic_info{
    font-weight: 550;
    svg{
        height: 75px;
        width: auto;
    }
}

#searchbox{
    color: #13293d76;
    font-weight: 550;
}
